/*=====================================================
    Hero Section
=======================================================*/ 
.gt__hero {
    background: var(--color__white) url(../images/hero_bg_patern.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10rem;
    overflow: hidden;
    
    @include sm-up {
        margin-top: 12rem;
    }
    .hero_content {
        padding: 5rem 0;

        @include xl-up {
            padding: 8rem 0 5rem;
        }
    }
    .title {
        font-size: 2.5rem;
        font-weight: 500;
        color: #58595b;
        margin-bottom: 3rem;
        line-height: normal;

        @include lg-up {
            font-size: 3rem;
        }
        @include xl-up {
            font-size: 4rem;
        }
    }

    .hero__img {
        max-width: 40rem;
        @include xs-down {
            max-width: 30rem;
        }
        @include md-up {
            max-width: 50rem;
        }
        @include xl-up {
            max-width: 60rem;
        }
    }
}

/*=====================================================
    Service Action Section
=======================================================*/ 
.gt__service__action {
    overflow: hidden;
    .container-fluid {
        padding: 0;
        .row {
            --bs-gutter-x: .1rem;
            --bs-gutter-y: .1rem;
        }
    }
    .item {
        background-color: #d6d6d6;

        a {
            display: block;
            padding: 3rem 1rem;
            text-align: center;
            @include transition;
            color: #58595b;
            font-weight: 500;
            @include lg-down {
                padding: 2rem 1rem;
                font-size: 1.5rem;
            }

            &:hover {
                background-color: var(--color__theme);
                color: var(--color__white);
            }
        }
        &-hover {
            a {
                background-color: var(--color__theme);
                color: var(--color__white);
            }
        }
    }
}

/*=====================================================
    Service Section
=======================================================*/ 
.gt__services {
    padding: 8rem 0;

    .services_slider {
        padding: 1rem 0;
        .swiper-slide {
            border-radius: 1.5rem;
            filter: drop-shadow(0 0 6.5px rgba(0,0,0,0.15));
            background-color: #fbfbfb;
            border: .2rem solid transparent;
            @include transition;
            overflow: hidden;
            user-select: none;

            @include xl-up {
                border-radius: 2rem;
            }            
            .service-img {
                height: 25rem;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                padding: 1rem;
                
                @include xl-up {
                    height: 30rem;
                    padding: 2rem;
                }
                img {
                    max-height: 100%;
                }
            }
            .caption {
                padding: 1rem 1rem 2rem;
                color: #58595b;
                font-weight: 500;
                @include transition;

                @include xl-up {
                    padding: 1rem 1.5rem 2rem;
                }
            }

            &:hover {
                border-color: var(--color__theme);
                .caption {
                    color: var(--color__theme);
                }
            }
        }
    }
}


/*=====================================================
    Corporate Package Section
=======================================================*/ 
.gt__corporate__cta {
    // padding: 2rem 0 8rem;
    padding: 0 0 8rem;
    .cta {
        a {
            background-color: var(--color__theme);
            color: var(--color__white);
            font-weight: 500;
            border-radius: 5rem;
            display: inline-block;
            padding: 1.5rem 3rem;
            line-height: normal;
            font-size: 1.5rem;
            @include transition;

            &:hover {
                padding: 1.5rem 4rem;
            }
        }
    }
}

/*=====================================================
    Already GT Family Section
=======================================================*/ 
.gt__family_section {
    position: relative;
    z-index: 1;
    padding: 8rem 0 0;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: url(../images/vector-pattern1.png) no-repeat;
        background-size: cover;
        background-position: center;
        opacity: .8;
    }
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: rgba(#58585b, .98);
    }
    .action-cols {
        --bs-gutter-x: 2rem;
        --bs-gutter-y: 2rem;
        
        @include lg-up {
            --bs-gutter-x: 3rem;
        }
        @include xxl-up {
            --bs-gutter-x: 5rem;
        }

        a {
            display: block;
            background-color: var(--color__white);
            color: #58595b;
            font-weight: 500;
            text-align: center;
            border-radius: 5rem;
            padding: 1.7rem 1rem 1.5rem;
            @include transition;

            &:hover, &.hover {
                background-color: var(--color__theme);
                color: var(--color__white);
            }
        }
    }
    .section-image{
        opacity: .8;
        margin-top: 5rem;
        user-select: none;
        pointer-events: none;
    }
}
/*=====================================================
    Download Apps Section
=======================================================*/ 
.gt__download__apps {
    background-color: var(--color__theme);
    padding: 5rem 0;

    a {
        img {
            max-width: 15rem;

            @include lg-up {
                max-width: 18rem;
            }
        }
    }
}

/*=====================================================
    News and Events Section
=======================================================*/ 
.gt__news_events {
    padding: 10rem 0;

    .swiper-wrapper {
        align-items: center;
        padding: 5rem 0;
    }
    .swiper-slide {
        opacity: .25;
        @include transition;
        transform: scale(1) translateZ(0);

        img {
            border-radius: .5rem;
        }

        .slide_caption {
            border-bottom: .1rem solid #d6d6d6;
            padding: 1rem;
            text-align: center;
            color: #58595b;
            @include transition;
            opacity: 0;
            visibility: hidden;
            transform: translateY(1.5rem);

            a {
                font-size: 1.3rem;
            }

            &:hover {
                color: var(--color__theme);
            }
        }
        &-active {
            opacity: 1;
            transform: scale(1.3) translateZ(0);
            
            .slide_caption {
                transition-delay: .3s;
                opacity: 1;
                visibility: visible;
                transform: translateY(0rem);
            }
        }
    }

    .all-news-events {
        margin-top: 5rem;

        a {
            background-color: var(--color__theme);
            color: var(--color__white);
            font-weight: 500;
            border-radius: 5rem;
            display: inline-block;
            padding: 1.5rem 4rem;
            line-height: normal;
            font-size: 1.5rem;
            @include transition;

            &:hover {
                padding: 1.5rem 6rem;
            }
        }
    }
}


/*=====================================================
    AGet In Touch Section
=======================================================*/ 
.gt__getintouch {
    background: #ebebeb;
    padding: 5rem 0;

    .contact_widget {
        filter: drop-shadow(0 0 6.5px rgba(0,0,0,0.15));
        background-color: #fbfbfb;
        border-radius: 1.5rem;
        padding: 4rem 1rem;
        .icon {
            @include dimension(4rem, 4rem);
            @include flex-center;
            border-radius: 50%;
            border: .2rem solid #58595b;
            margin: 0 auto 1rem;
            @include transition;
            
            svg {
                @include transition;
            }
            &:hover {
                background-color: var(--color__theme);
                border-color: var((--color__theme));

                svg {
                    fill: var(--color__white)
                }
            }
        }
        .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            .icon {
                margin: 0 0 1rem;
            }
        }
    }
}